# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.coverage

# Virtual Environment
venv/
.env/
.venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Jupyter
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db

# Power BI
*.pbix.autosave
*.pbix.lock

# Temporary Files
*.tmp
*.bak
*.swp

# Build
build/
dist/